beautifulsoup4==4.7.1
inflection==0.3.1
ipympl==0.6.3
jupyterlab==3.0.5
lxml==4.9.1
matplotlib==3.3.3
openpyxl==3.0.6
pandas==1.2.1
peewee==3.8.0
phonetics==1.0.5
psycopg2==2.8.6
pytictoc==1.5.1
requests==2.25.1
scipy==1.6.0
xlrd==2.0.1
