beautifulsoup4==4.11.1
inflection==0.5.1
lxml==4.9.1
openpyxl==3.0.10
pandas==1.5.0
peewee==3.15.2
phonetics==1.0.5
plotly==5.10.0
psycopg2-binary==2.9.3
pytictoc==1.5.2
requests==2.31.0
streamlit==1.13.0
xlrd==2.0.1
